body{  
	background-color:greenyellow;
	text-align: justify;
}

.sidebar{

	font-family: Arial;
	font-size: 17pt;
	text-align: left;
	
	position: absolute;
   left: 77%;
   width: 350px;
   height: 900px;
   border: 3px;
   background-color: rgba(0,150,100,0.3);
   color: rgba(0,255,235,0.3);
}

.main_text{
	font-family: Arial;
	font-size: 17pt;
	text-align: left;
	
	position: absolute;
   top: 15%;
   left: 0%;
   width: 750px;
   
   color: rgba(255,255,235,0.6);
}

.right_section{
	font-family: Arial;
	font-size: 17pt;
	text-align: left;
	
	position: absolute;
   top: 15%;
   left: 37%;
   color: rgba(255,0,235,0.6);
}

